

#graph-container {
    width: 95%;
    height: 50%;
    border: 10px solid #444; /* Clear border for the graph */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    background-color: #fff; /* White background for the graph area */
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #444;
}

.node circle {
    fill: #888;
    stroke-width: 1.5px;
}

.node text {
    font-weight: 300;
    font-family: sans-serif;
    font-size: 14px;
    fill: #fff; /* Use fill instead of color for SVG text */
}

.edgePath path {
    stroke: #444;
    stroke-width: 1.5px;
    fill: none;
}
