<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plan.css') }}">

    <title>Plan My Courses</title>
</head>
<body>
    <div id="padded_group">
        <h1>Plan My Courses</h1>
        <button onclick="location.href='/'">Home</button>
        <div id="course_crud">
            <input type="text" id="courseInput" placeholder="Course ID" onkeydown="handleEnter(event)">
            <div>
                <button onclick="addCourse()">Add Course</button>
                <button id="graphButton" onclick="graphCourses()">Graph Courses</button>
            </div>
        </div>

        <div class="course-container" id="courseContainer"></div>

        <div id="graph-container">
            <svg id="svg-canvas"></svg>
        </div>
    </div>
    <script>
        function handleEnter({key, code}) {
            if (key == 'Enter' || code == 'Enter') {
                addCourse();
            }
        }
    </script>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <script src="../static/js/d3.v7.js"></script>
    <script src="../static/js/jquery.tipsy.js"></script>
    <script src="../static/js/scripts_plan.js"></script>
    <script src="../static/js/dagre-d3.js"></script>
    <link href="../static/css/tipsy.css" rel="stylesheet" type="text/css" />
    
</body>
</html>
